
main{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#contact-button{
    width:100px;
    background-color: #E3AB3D;
    border-radius: 10px;
    border:0;

}
@media only screen and (min-width: 768px) {
    #contact-button{
        position: absolute;
        right: 0;
    }
}
.hero-text{
    font-family: 'Shadows Into Light', cursive; 
    color:white;
    font-size: 70px;
}

.heroSection{
    font-family: 'Open Sans', sans-serif;
    color:white;
    width:50%;
}
.img-wrapper{
    width:50%;
}
#shop-button {
    background-color: #E3AB3D;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    margin-right:20px;;
}

#section-one {
    height:1000px;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-size: 30px;
}

#right-side {
    width: 50%;
    height: 100vh;
    max-width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

#left-side {
    width: 50%;
    height: 100vh;
}

#maps {
    height:100%;
    width: 100%;
    background-color: lightgray;
}

#maps-wrapper {
    height: 500px;
    width: 500px;
    margin: auto;
}

.hours-wrapper {
    margin: auto;
    width: 500px;
    margin-top: 70px;
    margin-bottom: 100px;
}

#section-two {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.placeholder {
    background-color: lightblue;
    height: 500px;
    width: 800px;

}

.circle-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* Creates a circular shape */
    overflow: hidden;
    /* Clips the content to the shape */
}

.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintains the aspect ratio and covers the container */
}

footer {
    margin-top: 40px;
    height: 200px   ;
    width:100%;
    background-color: #445A3E;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.history {
    height: 500px;
    width: 100%;
    margin-bottom: 40px;
}

.small-om-history-text {
    display: block;
    margin-bottom: 39px;
    margin-top: 40px;
    padding-left: 0;
    text-align: center;
}

.card-item {
    border: 1px solid #d8d8d8;
    height: 444px;
    width: 440px;
    margin: auto;
}

.pie-container {
    width: 440px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: start;
}

.pie {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.active-pie {
    background-color: #be9032;
}

.inner-card {
    padding: 20px;
}

.card-container {
    position: relative;

}

.staff-member h1{
    margin:20px;
    font-size: 18px;
    font-weight: 800;
}
.staff-member p{
    font-size: 14px;
    font-weight: 400;
}
.mugshot-wrapper{
    display: flex;
    justify-content: center;
}
.staff-member-filler-text{
    text-align: center;
}
img{
    transition: box-shadow 0.3s ease-in-out;
}
.mugshot:hover{
  box-shadow: 3px 3px 3px grey;
}
.staff{
    display: none;
  }
  .mobile-staff{
    display: block;
    width:500px;
    margin:auto;

  }
@media only screen and (max-width: 1300px) {
    #section-one {
        flex-direction: column;
        margin-top:400px;
        margin-bottom:400px;
    }

    #right-side {
        margin: auto;
        width: 100%;
        margin-bottom: 200px;
    }

    #left-side {
        margin: auto;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    #maps-wrapper {
        height: 350px;
        width: 350px;
        margin: auto;
    }

    .hours-wrapper {
        width: 350px;
        margin-bottom: 20px
    }
}

@media only screen and (max-width: 600px) {
    #right-side {
        margin-bottom: 300px;
    }
    #section-one{
        margin-bottom:500px;
    }
}

@media only screen and (max-width: 540px) {
    #right-side {
        margin-bottom: 350px;
    }
}




@media (min-width: 781px) {

    .card-item {
        border: none;
        height: 300px;
        width: 640px;
    }

    .pie-container {
        width: 750px;
        display: flex;
        justify-content: space-between;
    }

    .pie {
        position: relative;
        height: 15px;
        width: 15px;
    }

    #filler-pie {
        display: block;
        height: 15px;
        width: 15px;
        background-color: #be9032;
        border-radius: 50%;
    }

    .history-line {
        width: 90px;
        height: 5px;
        position: absolute;
        background-color: inherit;
        z-index: -1;
        right: 5px;
        ;
        top: 5px;
    }




    .staff-member{
        width:25%;  
        padding-top:10px;
        margin:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom:120px;
    }
    .staff-member:hover{
        color:#be9032
    }
    .staff-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        width:95vw;
        margin: auto;
    }
    .staff{
        margin-top:100px;
        position: relative;
        display: block;
    }
    .mobile-staff{
        display: none;
    }
    .mugshot{
        height:300px;
        width:300px;
        border-radius: 50%;
    }
    .StaffBox{
        display: none;
        margin:0;
        z-index: 1;
        position: absolute;
        height:100%;
        width:100%;
        background-color: rebeccapurple;
        overflow: hidden;
    }
}
@media (max-width: 1200px) {
    .mugshot{
        height:110px;
        width:110px;
        border-radius: 50%;
    }
}
@media (max-width: 781px) {
    .staff-member{
        width: 100%;
        margin-bottom:20px;
        display: flex;
    }
    .mugshot-wrapper{
        display: flex;
        justify-content: start;
        padding-left:40px;
        width:30%;
        height:100%;
        border-radius: 50%;
    }
    .staff-text{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .staff-member-filler-text{
        text-align: end;
    }
}
/* TEMP CSS */
.sarah-modal, .mich-modal, .oliv-modal, .mark-modal, .john-modal, .mi-modal {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white   ;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.sarah-modal-content, .mich-modal-content, .oliv-modal-content, .mark-modal-content, .john-modal-content, .mi-modal-content {
    padding: 50px;
    padding-left: 60px;;
    padding-right:60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
}
.staff-text-inner-content-head{
    display: flex;
    justify-content: space-between;
    height:100%;
}
.staff-text-inner-content-body{
    margin-top:40px;
    margin-left:20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height:100%;
    padding-bottom:40px;
    width:40%;
}
.staff-text-inner-content-body h1{
    font-size: 20px;
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
  }
.close:after {
    transform: rotate(-45deg);
}
.left-scroll-arrow {
    z-index: 4;
    position: absolute;
    height: 32px;
    width: 19px;
    left: 0;
    top: 50%; 
    transform: translateY(-50%);
    margin-left:40px;
}
.right-scroll-arrow {
    z-index: 4;
    position: absolute;
    background-color: transparent;
    height: 32px;
    width: 19px;
    right: 0;
    top: 50%; 
    transform: translateY(-50%);
    margin-right:40px;
}
.accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  
  .panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  #staff-button{
    display: flex;
    justify-content: space-between;
  }
  .staff-text-wrapper{
    padding-top:30px;
    margin-left:10px;
  }

#down-arrow-1, #down-arrow-2, #down-arrow-3, #down-arrow-4, #down-arrow-5, #down-arrow-6{
    margin:50px;
}
/* TEMP CSS */
@media (max-width: 870px) {
    .sarah-modal-content, .mich-modal-content, .oliv-modal-content, .mark-modal-content, .john-modal-content, .mi-modal-content {
        flex-direction: column;
    }
    .staff-text-inner-content-head{
        justify-content:center;
    }
    .staff-text-inner-content-body{
    width:90%;
    }
}





.contact-h1{
    display: inline;
    font-weight:500;
}
#heavy-h1{
    font-weight: 1000;
    padding-right:10px;
}
.contact-body{
    background-color: #445A3E;
    height:630px;
    width:300px;
    padding:40px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    margin-top:40px;
    color:white;
}
.form-box{
    width:100%;
}
.radio-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;
}
.contact-text-wrapper{
    display: flex;
    justify-content: center;
}
.form-box{
    border:0px;
    background-color: transparent;
    border-bottom:2px #34432f solid;   
}
#submit-button{
    font-size: 20px;
    background-color: #34432f;
    border:none;
    border-radius: 10px;
    width:220px;
}
.modal-container{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3; /* To make sure it's above other elements */
}