body{
    height:100vh;
    width:100vw;
}
nav{
    background-color: #445A3E;
}
.content-wrapper{
    display: flex;
    justify-content: space-between;
    height:98vh;
    width:100vw;
}
.left{
    width:50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right{
    width:50vw;
    height:100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:40px;
}