
/* general css */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x:hidden !important;

}
/* general css end */



/* hero section */
.head-content {
  background-color: var(--primary);
  height: 80vh;
  margin-bottom: 5vh;
}


.fresh-handpicked-text {
  font-family: 'Shadows Into Light', cursive;
  font-size: 120px;
  padding-top: 100px;
}
@media screen and (max-width: 1950px) {
  .fresh-handpicked-text {
      font-size: 100px;
  }
}
@media screen and (max-width: 1485px) {
  .fresh-handpicked-text {
      font-size: 80px;
  }
}
@media screen and (max-width: 1190px) {
  .fresh-handpicked-text {
      font-size: 70px;
  }
}
@media screen and (max-width: 1050px) {
  .head-img-content {
      display: none;
      width:0px;
  }
}
@media screen and (max-width: 900px) {
  .head-row{
    width:100%;
  }
  .head-content-text-wrapper{
    width:100%;
  }
  .head-text-content{
    width:100% !important;
  }

}
.healthy-lifestyle-content {
  height: 20%;
}

.shop-now-button {
  background-color: var(--secondary);
  color: black;
  font-size:20px;
  border: none;
  height: 50px;
  width: 160px;
  border-radius: 10px;
}

.shop-now-button:hover {
  background-color: var(--sub-secondary);
}

.head-row {
  height: 100%;
  display: flex;
  flex-direction: row;

}

.head-img-content {
  position: relative;
  width: 50%;
  z-index: 2;
  overflow: hidden;
  height: 100%;
}

.head-text-content {
  width: 50%;

}

.head-content-text-wrapper {
  padding-top: 5%;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 60vh;
  ;
}
/* hero section end*/



/* statement box start */
.statement-box {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.left-box {
  padding-left: 3vw;
  width: 50%;
}

.right-box {
  width: 50%;
  padding-right: 3vw;
}
/* statement box end */




/*image box start */
.image-box {
  height: 50vh;
  margin-bottom: 10vh;
  border-radius: 40px;
  display: flex;
  padding-left: 0px;
}

.right-statement-box {
  width: 40vw;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.left-image-box {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
  height: 50vh;
}

.choose-us-box {
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  height: 40vh;
  /* border-bottom:solid 20px #57ac49; */
}
@media screen and (max-width: 850px) {
  .choose-us-border{
    width:100vw !important;
  }
  .grey-circle-bh-img{
    display: none;
  }
  .farmscape-img{
    display: none
  }
  .choose-us-box{
    width:100vw;
  }
  .half-circle{
    display: none !important;
  }
  .why-choose-use-text{
    width:100%;
    text-align: center;
  }
  .top-of-statement-header{
    width:90vw;
  }
}
@media screen and (max-width: 600px) {
  .image-box{
    margin-top:200px;
  }
}
.farmscape-img {
  height: 50vh;
  width: 55vw;
}

.grey-circle-bh-img {
  height: 70vh;
  z-index: -1;
  position: absolute;
  right: -10vw;
  top: 90vh;

}

.sticker-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle-wrapper {
  width: 5%;
  height: auto;
  position: relative;
  height: 100%;
  z-index: 1;
}

.circ {
  right: 0;
  bottom: 0;
  position: absolute;
  height: 7vh;
  width: 7vh;
  background-color: var(--secondary);
  border-radius: 100% 0 0 0;
}

.choose-us-border {
  background-color: var(--sub-primary);
  height: 5vh;
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10vh;
}

.top-of-statement-header {
  display: flex;
  justify-content: row;
}

.half-circle-wrapper {
  position: relative;
  top: 6vh;
  z-index: 2;
}

.half-circle {
  display: block;
  background-color: var(--secondary);
  height: 12vh;
  width: 6vh;
  border-radius: 0px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}
/*image box end */



/* reveiw section  */
.rev-section {
  height: 70vh;
  background-color: red;
  margin-bottom: 40px;
}


/* reveiw section end */
