body{
    font-family: 'Roboto', sans-serif;
}


header{
    background-image: url('../img/index/headerBackdrop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: block;
    text-align: left;
}
.hero-section{
    margin-left:20px;
    padding-top:9%;
    width:900px;
}
#hero-button{
    background-color: #d5a038;
    height:35px;
    width: 100px;
    border:none;
    border-radius: 5px;
    font-weight: 650;
}
#hero-button:hover{
    background-color: #ad832f;
}


/* intro section */
.intro-section{
    height:250px;
    display: flex;
    justify-content: space-between;
    width:100vw;
    margin: auto;
    margin-left:20px;
}
.right-intro-section{
    width:45%;
    margin-right: 45px;
}
.left-intro-section{
    width:35%;
    max-width: 550px;
    font-weight: 700;
}
/* end intro section */

/* featured product section */
.featured-prodcut{
    background-color: red;
    height:80vh;
    display: flex;
    justify-content: space-evenly;
}
.honey-bottle{
    background-color: grey;
    height:450px;
    width:300px;
}
.meat{
    background-color: grey;
    height:400px;
    width:250px;
}
.vegtable{
    background-color: grey;
    height:400px;
    width:250px;
}


/* featured product section */
.rev-section{
    margin-top:40px;
    background-color: blue;
    height:50vh;
}

/* end feature product section */




/* upcoming events section */
.upcoming-events-section{
    height:90vh;
    display:flex;
    justify-content: space-between;
    width:90vw;
    margin: auto;
    margin-top:40px;
}
.blog{  
    width:50%;
    overflow-y:hidden;
    padding:5px;
}
.events{
    width:30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.event{ 
    height:120px;
    width:100%;
    border-bottom:2px solid black;
    margin-bottom:12px;
    display: flex;
    justify-content: flex-start;
}
.event-six{
    border-bottom:0px;
}
.event-logo{
    height:90px;
    width:90px;
}
.event-text{
    margin-left:5px;
}
/* end upcoming events section */




/* footer section */
footer{
    margin-top:40px;
    height:300px;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
}
.adress{
    background-color: red;
    width:30%;
}
.page-links{
    background-color: rebeccapurple;
    width:30%;
}
.social-media{
    background-color: aqua;
    width:30%;
}

/* end footer section */