/* HEADER SECTION */
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color:white;
}
.header-right-section {
  width: 50%;
}
.header-left-section {
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

/* HEADER SECTION END */
/* NAV SECTION */
.nav-link{
   color:white !important; /*this is bad practice come back latter and ammend this */
}

/* NAV SECTION END */

/* INITIAL TEXT SECTION */
.statement-box{
  display: flex;
  justify-content: space-evenly;
}
.right-box, .left-box{
  width:50%;
  margin:10px;
}



/* INITIAL TEXT SECTION END */

/* WHY CHOOSE US BOX */
.image-box {
  height: 50vh;
  margin-bottom: 10vh;
  border-radius: 40px;
  display: flex;
  padding-left: 0px;
}

.right-statement-box {
  width: 40vw;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.left-image-box {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
  height: 50vh;
}

.choose-us-box {
  background-color: #445A3E;
  color: white;
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  height: 40vh;
  /* border-bottom:solid 20px #57ac49; */
}

.farmscape-img {
  height: 50vh;
  width: 55vw;
}

.grey-circle-bh-img {
  height: 70vh;
  z-index: -1;
  position: absolute;
  right: -10vw;
  top: 90vh;

}

.sticker-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle-wrapper {
  width: 5%;
  height: auto;
  position: relative;
  height: 100%;
  z-index: 1;
}

.circ {
  right: 0;
  bottom: 0;
  position: absolute;
  height: 7vh;
  width: 7vh;
  background-color: #d5a038;
  border-radius: 100% 0 0 0;
}

.choose-us-border {
  background-color: #5d7c55;
  height: 5vh;
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10vh;
}

.top-of-statement-header {
  display: flex;
  justify-content: row;
}

.half-circle-wrapper {
  position: relative;
  top: 6vh;
  z-index: 2;
}

.half-circle {
  display: block;
  background-color: #d5a038;
  height: 12vh;
  width: 6vh;
  border-radius: 0px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}

/* WHY CHOOSE US BOX END */
