/* HEADER SECTION */
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color:white;
}
.header-right-section {
  width: 50%;
}
.header-left-section {
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

/* HEADER SECTION END */
